.steps-wrapper {
  display: flex;
  justify-content: space-between;
  // max-width: 80%;
  width: 100%;
  flex-basis: 80%;
  flex: 1;
  z-index: 3;


  .step {
    color: rgba(0,0,0,0.55);
    font-size: 0.7rem;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;

    @media all and (min-width: $tablet) {
      font-size: 1.5vw;
    }

    @media all and (min-width: $desktop-full) {
      font-size: 1.25vw;
    }
  }

  .step-active {
    transition: all 0.3s ease-in-out;
    color: black;
    font-weight: 400;
    // border-bottom: 2px solid $orange;
  }
}

.steps-title {
  flex-basis: 20%;
  max-width: 20%;

}


* {
  &:focus {
    outline: transparent;
  }
}

.RSPBprogressBar {
  width: 100%;
  margin-top: -2px;
  height: 2px;
  z-index: 1;
}
